<html>
  <head> </head>
  <body>
    <div class="area"></div>
    <nav class="main-menu">
      <ul>
        <li>
          <a href="#">
            <span class="nav-text"> Profile </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="#">
            <span class="nav-text"> History </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="#">
            <span class="nav-text"> Stuff </span>
          </a>
        </li>
        <li class="has-subnav">
          <a href="#">
            <span class="nav-text"> MoreStuff </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="nav-text"> Statistics </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="nav-text"> Quotes </span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="nav-text"> Documentation </span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
